* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(248, 248, 239);
}

img {
	border-radius: 10px;
}

a {
	color: black;
	font-weight: 700;
	text-decoration: none;
}

header div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header h1 {
	text-align: center;
	color: black;
	text-decoration: none;
	font-weight: 700;
	font-size: xx-large;
	margin-top: 10px;
}

header a {
	display: flex;
	text-decoration: none;
	margin-left: 10px;
}

header hr {
	margin-bottom: 10px;
}

nav a {
	color: black;
	translate: 0px 2px;
	font-weight: 700;
}

main {
	width: 900px;
	display: grid;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	main {
		width: 400px;
		display: grid;
		margin: 20px;
	}
}

.article-entry {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 10px;
	gap: 10px;
}


.article-entry img {
	width: 100%;
	height: 100%;
}

.article-entry article {
	width: 100%;
}


@media screen and (max-width: 500px) {
	.article-entry {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 350px;
	}

	#article-img {
		width: 80%;
	}

	.article-entry p,
	.article-entry a {
		max-width: 350px;
	}
}

/* LOGIN */

.auth-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px auto;
}

.auth-form input {
	display: block;
	width: 50%;
	height: 2rem;
	margin-top: 10px;
	align-self: center;
	border: 2px solid #aaa;
	padding: 5px;
	border-radius: 5px;
}

.auth-form button {
	margin-top: 10px;
	width: 25%;
	padding: 5px;
}

@media screen and (max-width: 500px) {
	.auth-form input {
		display: block;
		width: 100%;
		height: 2rem;
		margin-top: 10px;
		align-self: center;
		border: 2px solid #aaa;
		padding: 5px;
		border-radius: 5px;
	}


	.auth-form button {
		margin-top: 10px;
		width: 50%;
		padding: 5px;
	}
}

/* VIEW */

.view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.view img {
	width: 100%;
	height: 300px;
}

.view div {
	margin-bottom: 1.5rem;
}

.view h2 {
	margin-bottom: 10px;
}

.view article {
	line-height: 1.3rem;
	margin-bottom: 10px;
}

.view span {
	color: #aaa;
}

.ql-editor {
	min-height: 12em;
}
